# Testing MCMC algo.

- metropolis-hastings algo.
- gibbs algo.

In [1]:
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
np.random.seed(1234)
x = np.random.normal(size=20) * 2 + 1
n_rep = 10000
n_accept = 0
theta = np.empty(shape=(2, n_rep))

In [3]:
sp.stats.norm(loc=theta[0, 0], scale = np.exp(theta[1, 0])).pdf(x=1000)

0.0

In [6]:
dat = pd.DataFrame({
    'id': range(100),
    'y': np.random.normal(0,1, size=100)
})
dat

    id         y
0    0 -0.248432
1    1 -0.617707
2    2 -0.682884
3    3  0.436258
4    4 -1.703013
..  ..       ...
95  95  1.015405
96  96  0.749185
97  97 -0.675521
98  98  0.440266
99  99  0.688972

[100 rows x 2 columns]

## MH algo.

In [5]:
## metropolis-hastings

ll0 = np.log(sp.stats.norm(loc=theta[0,0], scale=theta[1,0]).pdf(x)).sum()
for i in range(1, n_rep):
    theta[i,:] = theta[i-1,:] + sp.stats.t(df=3).rvs(2)*.5
    ll1 = np.log(sp.stats.norm(loc=theta[i,0], scale=theta[i,1]).pdf(x)).sum()

    if np.exp(ll1 - ll0) > sp.stats.uniform().rvs(1):
        ll0 = ll1
        n_accept += 1
    else: 
        theta[i,:] = theta[i-1,:] 

n_accept/n_rep

ValueError: operands could not be broadcast together with shapes (10000,) (2,)

In [ ]:
## μ
plt.plot(np.arange(n_rep), theta[:,0], )

In [ ]:
plt.hist(theta[:,1])

In [ ]:
np.random.seed(1234)
x = np.random.normal(size=20) * 2 + 1
n_rep = 10000
n_accept = 0
theta = np.empty(shape=(2, n_rep))

## Gibbs algo.

In [ ]:
## gibbs
n = 20
a = 1
b = 0.1
c = 0
d = 100
x_bar = x.mean()
phi = 1
mu = 0
theta[:,0] = [mu,phi]
for i in range(1, n_rep):
    mu = sp.stats.norm(loc=(d*n*x_bar + phi*c) / (d*n + phi), scale = np.sqrt(phi*d / (d*n + phi))).rvs(1)
    phi = 1/sp.stats.gamma(n/2+a-1, np.sum(((x-mu)**2)/2 + b)).rvs(1)
    theta[:,i] = np.array([mu, phi]).flatten()

n_accept/n_rep

In [ ]:
plt.plot(theta[1, 1:])

In [ ]:
## gibbs
n = 20
a = 1
b = 0.1
c = 0
d = 100
#x_bar = x.mean()
n_accept = 0
phi = 1
mu = 0
theta[:,0] = [mu,phi]
for i in range(1, n_rep):
    
    phi = 1/sp.stats.gamma(n/2+a-1, np.sum(((x-mu)**2)/2 + b)).rvs(1)
    theta[:,i] = np.array([mu, phi]).flatten()

n_accept/n_rep